#include "resource.h"
#include <windows.h>

IDI_APPICON ICON "goodfon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     2,2,0,0
 PRODUCTVERSION  2,2,0,0
 FILEFLAGSMASK   0x3fL
 FILEFLAGS       0x0L
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Mansi / slfl"
            VALUE "FileDescription",  "GoodFon - wallpaper changer"
            VALUE "FileVersion",      "2.2.0.0"
            VALUE "InternalName",     "GoodFon"
            VALUE "LegalCopyright",   "Copyright (C) Mansi (slfl). All rights reserved."
            VALUE "OriginalFilename", "GoodFon.exe"
            VALUE "ProductName",      "GoodFon"
            VALUE "ProductVersion",   "2.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
